.layout {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 2px;
  &:first-of-type { padding-left: 0; }
  &:last-of-type { padding-right: 0; }

  > .title-bar {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    width: 100%;

    > .title {
      align-items: center;
      flex: 1;
      font-size: 1.25em;
      font-weight: bold;
      text-shadow: 1px 1px 1px #bbb;
      justify-content: center;
      text-align: center;
    }

    > .expandable-toggle {
      height: 30px;
    }
  }

  > .list {
    min-width: 100%;
    width: 100%;
  }
}

.sheetforge.sheet.small .layout > .layout {
  flex: none!important;
  width: 100%;
}
