@import '~@fontello/css/sheetforge-embedded.css';

.health-level {
  display: flex;
  flex: 1;

  .damage {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-family: sheetforge;
    justify-content: center;
  }

  .penalty {
    align-items: center;
    justify-content: center;
  }

  &.none { color: #000000; .damage:before { content: ''; } }
  &.light { color: #007bff; .damage:before { content: ''; } }
  &.heavy { color: #ffc107; .damage:before { content: ''; } }
  &.bane { color: #dc3545; .damage:before { content: ''; } }
}
