{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "commonjs": true,
    "jest": true,
    "node": false
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "function-paren-newline": "off",
    "import/extensions": ["error", { "js": "never" }],
    "import/no-unresolved": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "object-curly-newline": "off",
    "react/button-has-type": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off",
    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],
    "react/prop-types": "off",
    "semi": ["error", "never"]
  }
}
