@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/* Generic Sheet Rules */
.cs.sheet,
.cs.sheet * {
  box-sizing: border-box;
}
.cs.sheet {
  align-content: flex-start;
  background: #fff;
  border: 0;
  box-shadow: 1px 1px 15px #eeeeee, -1px -1px 15px #eeeeee;
  display: flex;
  flex-flow: row wrap;
  height: 11in;
  width: 8.5in;
  padding: .25in;
  margin: .5in auto;
}
.cs.sheet > .row > * {
  margin: 0 5px;
}
.cs.sheet .row,
.cs.sheet .col {
  display: flex;
}
.cs.sheet .row {
  align-items: flex-start;
  align-content: flex-start;
  flex: 1 1 calc(90%);
  flex-flow: row wrap;
}
.cs.sheet .col {
  flex: 1 1 calc(20%);
  flex-flow: column wrap;
}
.cs.sheet .col.c-2 {
  flex: 1 1 calc(50%);
}
.cs.sheet .col.c-3 {
  flex: 1 1 auto;
}
.cs.sheet .col.no-margin {
  margin: 0;
}
.border {
  border: 1px solid #000;
}
.box {
  border-left: 1px dotted #003366;
  height: 15px;
  margin: 0 -7px 0 5px;
  position: relative;
  top: 1px;
}
.box:after {
  border: 1px solid #003366;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 2px;
  right: 6px;
  bottom: 2px;
}
.center {
  text-align: center!important;
}
.invert {
  color: #ffffff;
  background-color: #003366;
}
.rounded {
  border-radius: 5px;
}
@media print {
  .cs.sheet {
    box-shadow: none;
    margin: 0;
  }
  .fade-on-print,
  .entry > *:not(.name) {
    color: #ddd;
  }
}
/* SilCore Specific Rules */
.cs.silcore .row .header {
  border-width: 0 0 1px 0;
  -webkit-border-image: linear-gradient(left, #003366, #2eccfa 40%, #ffffff) 100% 1;
  -khtml-border-image: linear-gradient(left, #003366, #2eccfa 40%, #ffffff) 100% 1;
  -moz-border-image: linear-gradient(left, #003366, #2eccfa 40%, #ffffff) 100% 1;
  -o-border-image: linear-gradient(left, #003366, #2eccfa 40%, #ffffff) 100% 1;
  border-image: linear-gradient(left, #003366, #2eccfa 40%, #ffffff) 100% 1;
  color: #333;
  flex: 1 1 100%;
  font-family: Ubuntu;
  font-size: 0.8rem;
  font-weight: bold;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  padding: 8px 0 8px 0;
  text-align: left;
  text-shadow: 2px 1px #ddd;
}
.cs.silcore .row .header.row {
  border-width: 0 0 3px 0;
  font-size: 1.1rem;
  margin: 0 0 8px 0;
}
.cs.silcore .row:not(.two-up) > .entry:not(.header):nth-child(even) {
  background-color: #f0f9f9;
}
.cs.silcore .row.title {
  border-bottom: 1px solid;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: flex-end;
  padding: 8px;
}
.cs.silcore .picture {
  border: 20px solid #eee;
  box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.7), 1px 1px 0 0 rgba(0, 0, 0, 0.7), 1px -1px 0 0 rgba(0, 0, 0, 0.7), -1px 1px 0 0 rgba(0, 0, 0, 0.7), inset 2px 2px 8px 0 rgba(0, 0, 0, 0.7), inset -2px -2px 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  background-size: cover;
  background-position: center center;
  padding-bottom: 100%;
}
.cs.silcore .entry {
  align-items: center;
  display: flex;
  flex: 0 0 calc(46%);
  font-size: .80rem;
  margin: 0 2px;
  padding: 5px;
}
.cs.silcore .entry > * {
  flex: 1 1;
  text-align: center;
}
.cs.silcore .entry > .name {
  color: #036;
  font-family: Ubuntu;
  font-weight: bold;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cs.silcore .traits .entry .name {
  min-width: 65%;
}
.cs.silcore .skills .entry .name {
  min-width: 60%;
}
.cs.silcore .equipment .entry {
  flex: 1 1 100%;
}
.cs.silcore .equipment .entry .name {
  min-width: 40%;
}
.cs.silcore .two-up {
  align-items: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
}
.cs.silcore .two-up > * {
  flex: 1 1 calc(40%);
}
.cs.silcore .two-up.row .header {
  flex: 1 1 calc(40%);
}
.cs.silcore .two-up > .entry:not(.header):nth-child(4n+3),
.cs.silcore .two-up > .entry:not(.header):nth-child(4n+4) {
  background-color: #f0f9f9;
}
