@import './variables';
@import './Item';
$properties:
  "description",
  "equipped",
  "name",
  "quantity",
  "rating",
  "worth"
;

.armor-card {
  .expander {
    margin-top: -10px;
    top: 15px;
  }
}
.armor.item {
  @each $property in $properties {
  .#{$property} { grid-area: #{$property}; }
  }

  grid-template-areas:
    "equipped name rating"
    ". description worth"
  ;
  grid-template-columns: 30px auto 100px;

  .name, .description { @include alignEditable(left); }
  .rating, .worth {
    font-size: .8em;
    @include alignEditable(center);
    .editable { font-size: 1.2em; }
  }
  .rating {
    .caption { flex-grow: 1; justify-content: flex-end; }
    .editable { width: 30px; }
  }
}