@import './variables';

.sheetforge.sheet .attributes {
  display: grid;
  grid-area: attributes;
  grid-gap: 5px;
  grid-template-areas:
    "header     header    header    header"
    ".          body      mind      spirit"
    "potency    strength  intellect confidence"
    "reflex     agility   acuity    intuition"
    "resilience fitness   focus     devotion"
    "#{duplicate(divider-1, 4)}"
    "racial     size      speed     naturalArmor"
    "#{duplicate(divider-2, 4)}"
    "thresholds light     deep      death"
  ;
  height: auto;
  white-space: nowrap;

  .divider-1 { grid-area: divider-1; }
  .divider-2 { grid-area: divider-2; }
}
