@import './variables';
$attributes:
  "accuracy",
  "acuity",
  "agility",
  "body",
  "combat",
  "confidence",
  "death",
  "deep",
  "devotion",
  "fitness",
  "focus",
  "intellect",
  "intuition",
  "light",
  "deep",
  "death",
  "might",
  "mind",
  "naturalArmor",
  "potency",
  "racial",
  "reflex",
  "resilience",
  "size",
  "speed",
  "spirit",
  "strength",
  "thresholds",
  "toughness"
;

.sheetforge.sheet .attributes {
  display: grid;
  grid-area: attributes;
  grid-gap: 5px;
  grid-template-areas:
    "header header header header"
    "none body mind spirit"
    "potency strength intellect confidence"
    "reflex agility acuity intuition"
    "resilience fitness focus devotion"
    "divider-1 divider-1 divider-1 divider-1"
    "racial size speed naturalArmor"
    "combat accuracy might toughness"
    "divider-2 divider-2 divider-2 divider-2"
    "thresholds light deep death"
  ;
  height: auto;
  white-space: nowrap;

  hr.divider-1 { margin-top: 5px; grid-area: divider-1; }
  hr.divider-2 { grid-area: divider-2; }
}

.sheetforge.sheet .attribute {
  @include gridCell;
  grid-template-columns: auto 30px;

  @each $attribute in $attributes {
  &.#{unquote($attribute)} { grid-area: unquote($attribute); }
  }

  &.highlight {
    background-color: $color-highlight-bg;
    border: 1px solid $color-highlight-border;
  }

  .caption, .value, .editable, .temporary {
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    height: 100%;
  }
  .caption {
    margin-right: 5px;
    text-align: left;
    text-transform: capitalize;
  }
  .editable {
    justify-content: flex-end;
    text-align: right;

    &.editing {
      border-color: #eee;
    }
  }
  &.modified {
    grid-template-columns: auto 60px;

    .value {
      color: #bbb;
    }

    .editable span {
      color: #bbb;
      padding-right: 5px;
    }

    .temporary {
      color: green;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}
