.sheetforge.sheet.axis.small {
  grid-template-areas:
    "header"
    "descriptors"
    "attributes"
  ;

  img.portrait { display: none; }

  .attributes, .descriptors {
    font-size: .7rem;
  }
  .attributes {
    grid-template-areas: 
      "header header header"
      "body mind spirit"
      "strength intellect confidence"
      "agility acuity intuition"
      "fitness focus devotion"
      "potency resilience reflex"
      "divider-1 divider-1 divider-1"
      "racial racial racial"
      "size speed naturalArmor"
      "combat combat combat"
      "accuracy might toughness"
      "thresholds thresholds thresholds"
      "light deep death"
    ;
    padding: 0;
  }
  .divider-2 { display: none; }
}
