@import '../variables';
$descriptors: 
  "age",
  "concept",
  "eyes",
  "gender",
  "hair",
  "height",
  "homeland",
  "race",
  "weight"
;

.sheetforge.sheet .descriptors {
  display: grid;
  grid-area: descriptors;
  grid-auto-flow: column;
  grid-gap: 5px;
  grid-template-areas:
    "header header header"
    "homeland height eyes"
    "race weight hair"
    "concept gender age";
  height: auto;

  header {
    border-bottom: 1px solid $color-divider;
    font-size: 1.5em;
    font-weight: bold;
    grid-area: header;
    height: 1.5em;
  }
}

.sheetforge.sheet .descriptor {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 2.5em;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  width: 100%;

  @each $descriptor in $descriptors {
  &.#{unquote($descriptor)} { grid-area: unquote($descriptor); }
  }

  strong, .editable {
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    height: 100%;
  }
  strong {
    margin-right: 5px;
    text-align: left;
    text-transform: capitalize;
  }
  .editable {
    justify-content: flex-end;
    text-align: right;

    &.editing {
      border-color: #eee;
    }
  }
}
