@import '../variables';
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.sheetforge.sheet.axis {
  font-family: Ubuntu;
  font-size: 12px;

  display: grid;
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 10px;
  position: relative;
  max-height: 11.5in;
  max-width: 8.5in;

  .character-name {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    grid-area: header;
    justify-content: flex-start;
  }

  header {
    border-bottom: 1px solid $color-divider;
    font-size: 1.5em;
    font-weight: bold;
    grid-area: header;
    height: 1.5em;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-divider;
    margin: 0;
    width: 100%;
  }
}

@import './AxisSheet.small';
@import './AxisSheet.medium';
@import './AxisSheet.large';
