@import './variables.scss';

.descriptor {
  @include gridCell;
  padding: 0 5px;
  grid-template-columns: 60px auto;

  .name, .value {
    display: inline-flex;
  }
  .name {
    font-weight: bold;
  }
  .editable.value {
    span { justify-content: flex-end; }
    input { text-align: right; }
  }
}