.sheetforge.sheet .descriptor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  margin: .5em 0;
  width: 100%;

  strong, .editable {
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    height: 100%;
  }
  strong {
    margin-right: 5px;
    text-align: left;
  }
  .editable {
    justify-content: flex-end;
    text-align: right;

    &.editing {
      border-color: #eee;
    }
  }
}
