@import './variables.scss';

.descriptor {
  @include gridCell;
  display: inline-flex;
  padding: 0 5px;

  .name, .value {
    display: inline-flex;
  }
  .name {
    font-weight: bold;
  }
  .editable.value {
    span {
      justify-content: flex-end;
      text-align: right;
    }
    input { text-align: right; }
  }
}
