@import './variables';
$descriptors:
  "age",
  "concept",
  "eyes",
  "gender",
  "hair",
  "height",
  "homeland",
  "race",
  "weight"
;

.descriptors.section {
  display: grid;
  grid-area: descriptors;
  grid-auto-flow: column;
  grid-gap: 5px;
  grid-template-areas:
    "header header header"
    "homeland height eyes"
    "race weight hair"
    "concept gender age";
  height: auto;

  @each $descriptor in $descriptors {
  .#{unquote($descriptor)} { grid-area: unquote($descriptor); }
  }
}
