@import './variables';
$descriptors: 
  "age",
  "concept",
  "eyes",
  "gender",
  "hair",
  "height",
  "homeland",
  "race",
  "weight"
;

.sheetforge.sheet .descriptors {
  display: grid;
  grid-area: descriptors;
  grid-auto-flow: column;
  grid-gap: 5px;
  grid-template-areas:
    "header header header"
    "homeland height eyes"
    "race weight hair"
    "concept gender age";
  height: auto;
}

.sheetforge.sheet .descriptor {
  @include gridCell;
  grid-template-columns: 60px auto;

  @each $descriptor in $descriptors {
  &.#{unquote($descriptor)} { grid-area: unquote($descriptor); }
  }

  .name, .value {
    display: inline-flex;
  }
  .name {
    font-weight: bold;
  }
  .editable.value {
    span { justify-content: flex-end; }
    input { text-align: right; }
  }
}
