div.editable {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  line-height: inherit;
  position: relative;
  width: 100%;

  &:not(.readonly) > span {
    cursor: pointer;
    &:hover { background-color: #ccf8f8; }
  }

  span, input, textarea {
    align-items: center;
    border: none;
    display: inline-flex;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    line-height: inherit;
    padding: 0;
    justify-content: inherit;
    text-align: inherit;
    width: 100%;
  }
}