@import './variables';

@import './Headers.scss';

.sheetforge.sheet.axis .equipment.section {
  display: grid;
  grid-area: equipment-section;
  grid-auto-flow: column;
  grid-template-areas:
    "header"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 25px;

  header {
    grid-area: header;
    grid-template-columns: 25px auto 125px;
  }
}

.sheetforge.sheet.axis.large .equipment.section {
  grid-template-areas:
    "header header"
    "left right"
  ;
  grid-template-columns: 1fr 1fr;
}
