header {
  align-items: center;
  border-bottom: 1px solid $color-divider;
  display: grid;
  font-size: 1.5em;
  font-weight: bold;
  grid-area: header;
  grid-template-areas: "icon header buttons";
  grid-template-columns: 0 auto 30px;
  min-height: 25px;

  .buttons {
    font-size: .8rem;
    height: 100%;
    text-align: right;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    grid-area: buttons;
    height: 100%; width: 30px;
    &:hover { background-color: $color-highlight-bg; }
  }

  &.subheader {
    display: grid;
    font-size: .8em;
    font-weight: bold;
    grid-area: subheader;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    .name { text-align: left; }
  }
}
