@import 'variables';

.health-bar {
  border: 1px solid $color-highlight-border;
  border-radius: 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "header #{duplicate(health-bar, 3)}";
  grid-template-columns: 1fr 1fr 1fr 1fr;

  > .header {
    @include gridCell;
    background-color: $color-highlight-bg;
    border-radius: 5px 0 0 5px;
    font-weight: bold;
    height: 100%;
    padding: 0 5px;
  }

  .levels {
    align-content: space-around;
    align-items: center;
    border-radius: 5px;
    display: grid;
    grid-area: health-bar;
    justify-items: center;
    min-height: 20px;
    width: 100%;

    > div {
      align-items: center;
      border-radius: 5px;
      color: #aa0000;
      cursor: pointer;
      display: flex;
      height: 100%; width: 100%;
      min-height: 30px;
      justify-content: center;

      &:hover { background-color: $color-divider; }

      &:before { margin: 0; }
      &.ok { font-size: 16px; }
      &.light {
        color: #cc0000;
        font-size: 11px;
      }
      &.heavy {
        color: #ee0000;
        font-size: 6px;
      }
      &.bane:before {
        color: #000;
        content: '\E902';
        font-size: 18px;
      }
    }
  }
}

.large .health-bar {
  header {
    position: relative;
    top: -2px;
  }
}

.medium .health-bar {
  grid-gap: 10px;
  grid-template-areas: "header health-bar";
  grid-template-columns: 60px auto;
  grid-template-rows: auto;

  header {
    border-bottom: 0;
    grid-template-areas: "header";
    grid-template-columns: 1fr;
    justify-items: flex-end;
    margin: 0;
  }

  .levels {
    border: 1px solid $color-highlight-border;
  }
}
