@import './variables';

.item-card {
  .expander {
    margin-top: -10px;
    top: 15px;
  }
}
.item {
  @include gridCell;
  grid-template-areas:
    "equipped name worth"
    ". description description"
  ;
  grid-template-columns: 30px auto 100px;

  .name {
    @include alignEditable(left);
  }
  .description {
    font-style: italic;
    grid-area: description;
    > span { justify-content: left; }
    > input { text-align: left; }
  }
}