label.labeled-editable {
  display: inline-flex;
  align-items: center;

  &.nowrap {
    :first-child:not(.editable) {
      overflow: hidden;
      white-space: nowrap;
    }
  }
  > :first-child:not(.editable) {
    align-items: center;
    display: flex;
    height: 100%;
  }
}