.sheetforge.sheet.large {
  border: 1px solid #eee;
  grid-template-areas:
    "header header header header header header"
    "left left descriptors descriptors descriptors descriptors"
    "left left attributes attributes attributes attributes"
    "traits traits skills skills skills skills"
    "equipment-section equipment-section equipment-section equipment-section equipment-section equipment-section"
    "equipment equipment equipment equipment equipment equipment"
  ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  padding: .25in;
}