@import './variables.scss';

.sheetforge.sheet.large {
  border: 1px solid #eee;
  grid-template-areas:
    "#{duplicate(header, 2)}"
    "portrait descriptors"
    "portrait attributes"
    "portrait health-bar"
    "traits skills"
    "#{duplicate(equipment-section, 2)}"
  ;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30px;
  grid-auto-rows: auto;
  margin: 0 auto;
  padding: .25in;
}
