.sheetforge.sheet.axis.small {
  grid-template-areas:
    "header"
    "descriptors"
    "attributes"
    "health-bar"
    "skills"
    "equipment-section"
    "traits"
  ;
  font-size: .7rem;
}

@media (max-width: 359px) {
  .sheetforge.sheet.axis {
    zoom: .8;
  }
}
