.portrait.section {
  display: none;

  .image {
    background-size: cover;
    height: 300px;
    margin: 10px auto;
    width: 225px;
  }
}

.sheetforge.sheet.large {
  .portrait.section {
    display: block;
    grid-area: portrait;
  }
}
