@import './variables';
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.sheetforge.sheet.axis {
  box-sizing: border-box;
  * { box-sizing: border-box; }

  font-family: Ubuntu;
  font-size: 12px;
  text-shadow: 1px 1px 2px #ccc;

  display: grid;
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas:
    "header"
    "descriptors"
    "attributes"
    "wounds"
    "traits"
    "skills"
    "weapons"
    "armor"
  ;
  grid-gap: 10px;
  position: relative;
  max-height: 11.5in;
  max-width: 8.5in;

  @import './Headers.scss';

  > header {
    border-bottom: none;
    grid-gap: 3px;
    grid-template-columns: auto 50px 50px 50px;

    .xp, .rp, .power {
      font-size: 10px;
      .editable { 
        font-weight: normal;
        span { justify-content: center; }
        input { text-align: center; }
      }
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-divider;
    margin: 0;
    width: 100%;
  }
  abbr {
    text-decoration: none;
  }

  .descriptors {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .attributes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@import './Layout.small';
@import './Layout.medium';
@import './Layout.large';
