@import './variables';

.skills.section {
  display: grid;
  grid-area: skills;
  grid-auto-rows: 30px;
  grid-gap: 0px;
  grid-template:
    "header header"
    "subheader subheader"
  ;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
}

.sheetforge.sheet .skill {
  @include gridCell;
  grid-template-columns: auto 30px 30px;
}

.small .skills.section {
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "subheader"
    "skills"
  ;
  grid-template-columns: 1fr;

  header.subheader {
    grid-template-columns: 1fr;

    .skill:nth-child(2) {
      display: none;
    }
  }
}
