@import './variables';

.traits.section {
  display: grid;
  grid-area: traits;
  grid-auto-rows: 30px;
  grid-template-areas:
    "header"
    "subheader"
  ;
  grid-template-columns: 1fr;

  header.subheader {
    grid-template-columns: 1fr;
    .trait:nth-child(2) { display: none; }
  }

  > .trait:nth-child(even) {
    background-color: $color-highlight-row;
  }
}

.sheetforge.sheet.medium .traits {
  grid-template-areas:
    "header header"
    "subheader subheader"
    "left right"
  ;
  grid-template-columns: 1fr 1fr;

  header.subheader {
    grid-template-columns: 1fr 1fr;
    .trait:nth-child(2) { display: inherit; }
  }
}
