@import './variables';

.sheetforge.sheet.axis .traits {
  display: grid;
  grid-area: traits;
  grid-auto-rows: 30px;
  grid-template-areas:
    "header"
    "subheader"
  ;
  grid-template-columns: 1fr;

  header.subheader {
    grid-template-columns: 1fr;
    .trait:nth-child(2) { display: none; }
  }
}

.sheetforge.sheet .trait {
  @include gridCell;
  grid-template-columns: auto 30px;

  .name { @include alignEditable(left); }
  .value { @include alignEditable(center); }
}

.sheetforge.sheet.medium .traits {
  grid-template-areas:
    "header header"
    "subheader subheader"
    "left right"
  ;
  grid-template-columns: 1fr 1fr;

  header.subheader {
    grid-template-columns: 1fr 1fr;
    .trait:nth-child(2) { display: inherit; }
  }
}
