@import './variables';

.sheetforge.sheet.axis .weapons {
  display: grid;
  grid-area: weapons;
  grid-auto-rows: 30px;
  grid-template-areas:
    "header"
    "subheader"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 25px;

  header.subheader {
    grid-template-columns: 1fr;
  }
}

.sheetforge.sheet .weapon {
  @include gridCell;
  grid-template-columns: 30px auto 30px 30px 30px;
}