.spell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .name {
    flex: 1;
  }

  .description {
    margin-left: 40px;
    min-height: 80px;
    width: 100%;

    textarea { resize: none; }
  }

  .expandable {
    margin-left: 40px;
    min-width: calc(100% - 40px);
  }

  &.active {
    order: 0;

    .name { font-weight: bold; }
  }
}
