.section {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  position: relative;

  > h1 {
    border-bottom: 1px solid;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
