.conditions {
  &.expandable-wrapper-expanded {
    background: #fff;
    border: 1px solid;
  }

  > .expandable-toggle {
    background: #fff;
    min-height: 30px;
    min-width: 30px;

    &:after {
      content: 'Conditions';
      font-weight: bold;
    }
  }

  .expandable {
    border-top: 1px solid;
    padding: .1in;

    .condition {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
