@import '~@fontello/css/sheetforge-embedded.css';

.effect-list-toggle {
  height: 40px;
  width: 40px;

  &.icon-expanded {
    + .effect-list { display: flex; }
  }

  &.icon-collapsed {
    + .effect-list { display: none; }
  }
}

.effect-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  button.icon-add {
    height: 40px;
    width: 100%;
  }

  .effect-wrapper {
    display: flex;
    width: 100%;

    button.icon-remove {
      background: transparent;
      border: none;
      border-radius: .5em;
      height: 40px;
    }
    .effect {
      flex: 1;
    }
  }
}
