@import '~@/components/styles/widget.scss';

.attribute {
  @include widget;

  .modifier {
    min-width: 30px;

    &.positive { color: green; }
    &.negative { color: red; }
    &.zero { color: gray; }
  }
}
