.health-bar {
  display: flex;
  flex-wrap: wrap;

  .summary, .penalty {
    align-items: center;
    display: flex;
    min-height: 40px;
  }
  .summary { flex: 1; }
  .penalty {
    justify-content: center;
    padding: 0 1em;
  }

  button {
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  &.horizontal > .expandable {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    justify-content: center;

    .health-level {
      display: flex;
      flex-direction: column;

      .damage { min-width: 20px; }
      .name { display: none; }
    }
  }
  &.vertical > .expandable {
    display: flex;
    flex-direction: column;

    .damage { min-width: 40px; }
    .name { flex: 1; }
  }
}
