@import '~@/components/styles/widget.scss';

.health-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > .list {
    > .title-bar > .text {
      font-size: 1em;

      > .wound-level {
        font-size: .8em;
        font-weight: normal;
      }
    }

    > .list-item-wrapper {
      min-width: auto;
      width: auto;

      > .health-level {
        @include widget;
      }
    }
  }

  &.horizontal > .list {
    display: flex;
    flex-direction: row-reverse;
    min-height: 80px;
    justify-content: center;

    .health-level {
      display: flex;
      flex-direction: column;
      min-width: auto;
      width: auto;

      .damage { min-width: 20px; }
      .name { display: none; }
    }
  }
  &.vertical > .list {
    display: flex;
    flex-direction: column;

    .damage { min-width: 30px; }
    .name { flex: 1; }
  }
}
