@mixin widget {
  align-items: stretch;
  display: flex;
  justify-items: stretch;
  line-height: 1em;
  min-height: 2em;
  min-width: 250px;

  > *, > .editable {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    min-width: 40px;
  }

  .displayName {
    flex: 1;
    justify-content: flex-start;
    text-align: left;
  }
}
