@mixin widget {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-items: stretch;
  line-height: 1em;
  min-height: 2em;
  min-width: 2.5in;
  padding: 0 .1in;
  width: 2.5in;

  > *, > .editable {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    min-width: 40px;
  }

  .name {
    flex: 1;
    justify-content: flex-start;
    text-align: left;
  }
}
