@import './variables';
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.sheetforge.sheet.axis {
  font-family: Ubuntu;
  font-size: 12px;

  display: grid;
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas:
    "header"
    "descriptors"
    "attributes"
    "skills"
  ;
  grid-gap: 10px;
  position: relative;
  max-height: 11.5in;
  max-width: 8.5in;

  img.portrait { display: none; }

  header {
    border-bottom: 1px solid $color-divider;
    font-size: 1.5em;
    font-weight: bold;
    grid-area: header;
    height: 1.5em;
  }

  > header {
    align-items: center;
    border-bottom: none;
    display: grid;
    grid-area: header;
    grid-gap: 3px;
    grid-template-columns: auto 50px 50px 50px;

    .xp, .rp, .power {
      font-size: 10px;
      padding: 2px;
      .caption { margin-right: 0; }
      .editable { font-weight: normal; }
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-divider;
    margin: 0;
    width: 100%;
  }

  .descriptors {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .attributes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@import './Layout.small';
@import './Layout.medium';
@import './Layout.large';
