@import './variables';

.sheetforge.sheet .skills {
  display: grid;
  grid-area: skills;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "left right"
  ;
  grid-template-columns: 1fr 1fr;
}

.sheetforge.sheet .skill {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 30px 30px;
  height: 2.5em;
  padding: 0 5px;
  width: 100%;

  .name, .theory, .mastery {
    align-items: center;
  }
  .theory, .mastery {
    justify-content: flex-end;

    input { text-align: right; }
  }
}