@import './variables';

.sheetforge.sheet .skills {
  display: grid;
  grid-area: skills;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "left right"
  ;
  grid-template-columns: 1fr 1fr;
}

.sheetforge.sheet .skill {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: space-between;
  height: 2.5em;
  padding: 5px;
  width: 100%;

  .name, .theory, .mastery {
    align-items: center;
  }
  .name {
    justify-content: flex-start;
  }
  .theory, .mastery {
    justify-content: flex-end;
    width: 40px;
  }
}