@import './variables';

.sheetforge.sheet .skills {
  display: grid;
  grid-area: skills;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "left right"
  ;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
}

.sheetforge.sheet .skill {
  @include gridCell;
  grid-template-columns: auto 30px 30px;

  .name, .theory, .mastery {
    align-items: center;
  }
  .theory, .mastery {
    justify-content: flex-end;

    input { text-align: right; }
  }
}