@import '~@/components/styles/widget.scss';

.trait {
  @include widget;

  flex-direction: row;
  flex-wrap: wrap;

  .first.row {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
  }
  .effect-list-toggle {
    width: 40px;
  }

  .trait-list.row {
    display: flex;
    flex-direction: row;
  }
}
