@import '~@/components/styles/widget.scss';

.trait {
  @include widget;

  display: flex;
  flex-wrap: wrap;

  .expandable {
    margin-left: 40px;
    min-width: calc(100% - 40px);
  }

  .trait-list.row {
    display: flex;
    flex-direction: row;
  }
}
