.list {
  flex: 1;
  grid-gap: 3px;
  margin-top: 30px;
  padding: .5px 0;
  position: relative;

  &:focus-within {
    button.icon-add { display: flex; }
  }

  > .title-bar {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    height: 30px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    right: 0;
    top: -30px;
    width: 100%;

    > .multi-toggle.sorter {
      > .toggle {
        border: 2px groove #fff;
        border-width: 2px 1px;
        box-shadow: none;
        font-size: .7rem;
        height: 20px;
        min-height: 20px;
        min-width: 25px;
        padding: .1rem;
        width: 25px;

        &.selected {
          border-style: inset;
        }

        &:first-of-type { border-left-width: 2px; }
        &:last-of-type { border-right-width: 2px; }
      }
    }

    > .filter {
      background: inherit;
      border-radius: 5px;
      border-width: 2px 1px;
      border: 2px groove #fff;
      box-shadow: none;
      cursor: pointer;
      font-size: .7rem;
      height: 20px;
      margin-left: 5px;
      min-height: 20px;
      min-width: 25px;
      padding: .1rem;
    }

    .text {
      flex: 1;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }

    > button {
      background: none;
      border: none;
      cursor: pointer;
      height: 30px;
      width: 30px;
    }
  }

  .list-item-wrapper {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    margin: 0 0 .25em 0;
    padding: .25em;
    position: relative;
    -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;

    > .drag-handle, > button.icon-remove {
      align-items: center;
      background: none;
      border: none;
      box-sizing: border-box;
      cursor: pointer;
      display: none;
      height: 30px;
      justify-content: center;
    }

    > .drag-handle {
      color: #cccccc;
      font-size: 6px;
      letter-spacing: 2px;
      line-height: 5px;
      margin-right: 5px;
      overflow: hidden;
      padding: 0 2px;
      text-align: center;
      text-shadow: 1px 0 1px black;
      vertical-align: middle;
      width: 15px;

      &:after {
        content: '•• •• •• •• ';
      }
    }

    > button.icon-remove {
      width: 30px;

      &:hover {
        background-color: #ccf8f8;
      }
    }

    &.expanded .drag-handle {
      position: absolute;
      left: -15px;
    }

    &.sortable-chosen {
      background-color: antiquewhite;
    }

    &.expanded {
      column-span: all;

      > .expandable-wrapper.expanded, > button.icon-remove {
        background: #fff;
        border: 1px solid #666;
        box-shadow: 3px 3px #666;
        margin-bottom: 3px;
        margin-left: -1px;

        + button.icon-remove {
          border-left: none;
        }
      }
    }

    .list { // list inside a list
      > .title-bar {
        padding: 0;

        > .button.icon-add { right: 0; }
      }

      > .list-item-wrapper > .icon-remove {
        background: #fff;
        border: 1px solid #666;
        border-left: none;
        box-shadow: 3px 3px #666;
        display: flex;
        position: absolute;
        right: -29px;
        z-index: 1;

        &:hover { background: #ccf8f8; }
      }

      > .expandable > .list-item-wrapper > div {
        padding: 0;
      }
    }

    &:focus-within, &:hover {
      background: #eee;
      border-radius: 0;

      > .drag-handle { display: flex; }
      > * > .editable {
        background-color: #f3f3f3;
        border: 1px solid #ddd;
      }
    }
  }

  &.dragging > .list-item-wrapper {
    > .drag-handle, button.icon-remove { display: none!important; }
  }
}

.sheet.small .list {
  columns: 1!important;
  width: 100%;

  .list-item-wrapper {
    width: 100%;
  }
}
