@import '~@/components/styles/widget.scss';

.item {
  @include widget;

  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .expanded-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
  }

  .name {
    flex: 1;
  }

  .description {
    min-height: 80px;
    width: 100%;

    textarea { resize: none; }
  }

  .expandable {
    margin-left: 30px;
    min-width: calc(100% - 30px);
  }

  &.equipped {
    order: 0;

    .name { font-weight: bold; }
  }
}

.list.item-list > .list-item-wrapper {
  min-width: 100%;
}
