
.icon-axis:before { content: '\e800'; } /* '' */
.icon-d10:before { content: '\e801'; } /* '' */
.icon-sheet:before { content: '\e802'; } /* '' */
.icon-backpack:before { content: '\e803'; } /* '' */
.icon-weapon:before { content: '\e804'; } /* '' */
.icon-armor:before { content: '\e805'; } /* '' */
.icon-currency:before { content: '\e806'; } /* '' */
.icon-add:before { content: '\e807'; } /* '' */
.icon-remove:before { content: '\e808'; } /* '' */
.icon-damage-light:before { content: '\e80a'; } /* '' */
.icon-damage-heavy:before { content: '\e80b'; } /* '' */
.icon-damage-none:before { content: '\e901'; } /* '' */
.icon-health-bane:before { content: '\e902'; } /* '' */
.icon-collapsed:before { content: '\e903'; } /* '' */
.icon-expanded:before { content: '\e904'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */