@import '~@/components/styles/widget.scss';

.resource {
  @include widget;
  flex-direction: column;

  .name {
    align-content: center;
    justify-content: center;
    flex: 1;
    height: 40px;
  }

  .rating {
    margin: auto;
  }
}
