@import '~@/components/styles/widget.scss';

.resource {
  @include widget;
  flex-direction: column;

  .name {
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 30px;
    text-align: center;
  }

  .rating {
    margin: auto;
  }
}
